.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  font-size: 12px;
  padding: 8px 12px;
  margin-left: 15px;
  transform: translateY(-50%);
  line-height: 18px;
  min-width: 120px;
  border-radius: 4px;
}

/* Add an arrow */
.tooltip:after {
  content: "";
  position: absolute;
  border-width: 6px;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.95) transparent transparent;
}

.tooltip:before {
  content: "";
  position: absolute;
  border-width: 6px;
  left: -13px;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-color: transparent #e0e0e0 transparent transparent;
}

